versioneer~=0.29
tox~=4.11.4
wheel~=0.42.0
mypy>=0.991

pytest-postgresql~=5.0.0
azure-functions~=1.17.0
psycopg2-binary~=2.9.9
types-psycopg2~=2.9.21.20
jsonschema~=4.20.0
types-jsonschema~=4.20.0.0
openpyxl~=3.1.2
types-openpyxl~=3.1.0.32
peewee~=3.17.0
types-peewee~=3.17.0.0